In [1]:
import pandas as pd
import numpy as np
from datetime import datetime as dt
import sqlite3 # library for working with sqlite database
conn = sqlite3.connect("./data/data.db") # Create a connection to the on-disk database

In [2]:
pd.read_sql("SELECT * FROM sqlite_master where type='table'", conn)

,type,name,tbl_name,rootpage,sql
0,table,patients,patients,2,"CREATE TABLE patients(ROW_ID INT,SUBJECT_ID IN..."
1,table,admissions,admissions,639,"CREATE TABLE admissions(ROW_ID INT,SUBJECT_ID ..."
2,table,icustays,icustays,3515,"CREATE TABLE icustays(ROW_ID INT,SUBJECT_ID IN..."
3,table,diagnoses_icd,diagnoses_icd,4944,"CREATE TABLE diagnoses_icd(ROW_ID INT,SUBJECT_..."
4,table,drgcodes,drgcodes,9061,"CREATE TABLE drgcodes(ROW_ID INT,SUBJECT_ID IN..."

In [3]:
pd.read_sql("""SELECT * FROM admissions LIMIT 10""", conn)

,ROW_ID,SUBJECT_ID,HADM_ID,ADMITTIME,DISCHTIME,DEATHTIME,ADMISSION_TYPE,ADMISSION_LOCATION,DISCHARGE_LOCATION,INSURANCE,LANGUAGE,RELIGION,MARITAL_STATUS,ETHNICITY,EDREGTIME,EDOUTTIME,DIAGNOSIS,HOSPITAL_EXPIRE_FLAG,HAS_CHARTEVENTS_DATA
0,21,22,165315,2196-04-09 12:26:00,2196-04-10 15:54:00,,EMERGENCY,EMERGENCY ROOM ADMIT,DISC-TRAN CANCER/CHLDRN H,Private,,UNOBTAINABLE,MARRIED,WHITE,2196-04-09 10:06:00,2196-04-09 13:24:00,BENZODIAZEPINE OVERDOSE,0,1
1,22,23,152223,2153-09-03 07:15:00,2153-09-08 19:10:00,,ELECTIVE,PHYS REFERRAL/NORMAL DELI,HOME HEALTH CARE,Medicare,,CATHOLIC,MARRIED,WHITE,,,CORONARY ARTERY DISEASE\CORONARY ARTERY BYPASS...,0,1
2,23,23,124321,2157-10-18 19:34:00,2157-10-25 14:00:00,,EMERGENCY,TRANSFER FROM HOSP/EXTRAM,HOME HEALTH CARE,Medicare,ENGL,CATHOLIC,MARRIED,WHITE,,,BRAIN MASS,0,1
3,24,24,161859,2139-06-06 16:14:00,2139-06-09 12:48:00,,EMERGENCY,TRANSFER FROM HOSP/EXTRAM,HOME,Private,,PROTESTANT QUAKER,SINGLE,WHITE,,,INTERIOR MYOCARDIAL INFARCTION,0,1
4,25,25,129635,2160-11-02 02:06:00,2160-11-05 14:55:00,,EMERGENCY,EMERGENCY ROOM ADMIT,HOME,Private,,UNOBTAINABLE,MARRIED,WHITE,2160-11-02 01:01:00,2160-11-02 04:27:00,ACUTE CORONARY SYNDROME,0,1
5,26,26,197661,2126-05-06 15:16:00,2126-05-13 15:00:00,,EMERGENCY,TRANSFER FROM HOSP/EXTRAM,HOME,Medicare,,CATHOLIC,SINGLE,UNKNOWN/NOT SPECIFIED,,,V-TACH,0,1
6,27,27,134931,2191-11-30 22:16:00,2191-12-03 14:45:00,,NEWBORN,PHYS REFERRAL/NORMAL DELI,HOME,Private,,CATHOLIC,,WHITE,,,NEWBORN,0,1
7,28,28,162569,2177-09-01 07:15:00,2177-09-06 16:00:00,,ELECTIVE,PHYS REFERRAL/NORMAL DELI,HOME HEALTH CARE,Medicare,,CATHOLIC,MARRIED,WHITE,,,CORONARY ARTERY DISEASE\CORONARY ARTERY BYPASS...,0,1
8,29,30,104557,2172-10-14 14:17:00,2172-10-19 14:37:00,,URGENT,TRANSFER FROM HOSP/EXTRAM,HOME HEALTH CARE,Medicare,,CATHOLIC,MARRIED,UNKNOWN/NOT SPECIFIED,,,UNSTABLE ANGINA\CATH,0,1
9,30,31,128652,2108-08-22 23:27:00,2108-08-30 15:00:00,2108-08-30 15:00:00,EMERGENCY,TRANSFER FROM HOSP/EXTRAM,DEAD/EXPIRED,Medicare,,CATHOLIC,MARRIED,WHITE,,,STATUS EPILEPTICUS,1,1

In [4]:
pat_df = pd.read_sql("SELECT * FROM patients", conn)
adm_df = pd.read_sql("SELECT * FROM admissions", conn)
pat_df.shape[0]

46520

In [5]:
pat_df.head()

,ROW_ID,SUBJECT_ID,GENDER,DOB,DOD,DOD_HOSP,DOD_SSN,EXPIRE_FLAG
0,234,249,F,2075-03-13 00:00:00,,,,0
1,235,250,F,2164-12-27 00:00:00,2188-11-22 00:00:00,2188-11-22 00:00:00,,1
2,236,251,M,2090-03-15 00:00:00,,,,0
3,237,252,M,2078-03-06 00:00:00,,,,0
4,238,253,F,2089-11-26 00:00:00,,,,0

In [6]:
all_admissions = pd.read_sql("""SELECT * FROM admissions""", conn)
print(all_admissions.shape)
all_icustays = pd.read_sql("""SELECT * from icustays""", conn)
print(all_icustays.shape)
all_icustays.head()

(58976, 19)
(61532, 12)

,ROW_ID,SUBJECT_ID,HADM_ID,ICUSTAY_ID,DBSOURCE,FIRST_CAREUNIT,LAST_CAREUNIT,FIRST_WARDID,LAST_WARDID,INTIME,OUTTIME,LOS
0,365,268,110404,280836,carevue,MICU,MICU,52,52,2198-02-14 23:27:38,2198-02-18 05:26:11,3.249
1,366,269,106296,206613,carevue,MICU,MICU,52,52,2170-11-05 11:05:29,2170-11-08 17:46:57,3.2788
2,367,270,188028,220345,carevue,CCU,CCU,57,57,2128-06-24 15:05:20,2128-06-27 12:32:29,2.8939
3,368,271,173727,249196,carevue,MICU,SICU,52,23,2120-08-07 23:12:42,2120-08-10 00:39:04,2.06
4,369,272,164716,210407,carevue,CCU,CCU,57,57,2186-12-25 21:08:04,2186-12-27 12:01:13,1.6202

In [7]:
#Â 'First' admission if it is a patient's first ever admission
# Exclude patients who die during their 'first' visit

one_admission_deaths = pd.read_sql("""SELECT SUBJECT_ID FROM admissions
WHERE HOSPITAL_EXPIRE_FLAG = 1
GROUP BY SUBJECT_ID
HAVING COUNT(SUBJECT_ID) = 1
""", conn)
print("People who died on their first admission:")
print(one_admission_deaths.shape[0])
print(one_admission_deaths.head())

one_admission_survivors = pd.read_sql("""SELECT SUBJECT_ID FROM admissions
WHERE HOSPITAL_EXPIRE_FLAG = 0
GROUP BY SUBJECT_ID
HAVING COUNT(SUBJECT_ID) = 1
ORDER BY CAST(SUBJECT_ID AS UNSIGNED) ASC
""", conn)
print("People who only had one admission but survived it:")
print(one_admission_survivors.shape[0])
print(one_admission_survivors.head())

mult_admissions = pd.read_sql("""SELECT SUBJECT_ID FROM admissions
GROUP BY SUBJECT_ID
HAVING COUNT(SUBJECT_ID) > 1
ORDER BY CAST(SUBJECT_ID AS UNSIGNED) ASC
""", conn)
print("People who had multiple admissions:")
print(mult_admissions.shape[0])
print(mult_admissions.head())

# Concatenate all subject IDs from patients who survived their first visit
relevant_patients = pd.concat([one_admission_survivors, mult_admissions], axis = 0)
relevant_patients.columns = relevant_patients.columns.str.strip()
relevant_patients = relevant_patients.sort_values('SUBJECT_ID')
print("Patients who survived their first visit: " + str(relevant_patients.shape[0]))
relevant_patients[5:15]

People who died on their first admission:
5772
   SUBJECT_ID
0           9
1          12
2          21
3          31
4          56
People who only had one admission but survived it:
35522
   SUBJECT_ID
0           2
1           3
2           4
3           5
4           6
People who had multiple admissions:
7537
   SUBJECT_ID
0          17
1          21
2          23
3          34
4          36
Patients who survived their first visit: 43059

    SUBJECT_ID
5            7
6            8
7           10
8           11
9           13
10          16
0           17
11          18
12          19
13          20

In [8]:
# Features for all patients
# Only take table info for subjects that are included in our design matrix
# Filter via inner join
admissions_info = pd.read_sql("""SELECT adm.SUBJECT_ID, HADM_ID, ADMITTIME, DISCHTIME
                                 FROM admissions adm
                                 INNER JOIN patients pat
                                 ON adm.SUBJECT_ID = pat.SUBJECT_ID
                                 ORDER BY pat.SUBJECT_ID ASC
                                 """, conn)
admissions_info['DISCHTIME'] = pd.to_datetime(admissions_info['DISCHTIME'])
admissions_info['ADMITTIME'] = pd.to_datetime(admissions_info['ADMITTIME'])

all_icustays = pd.read_sql("""SELECT icu.SUBJECT_ID, HADM_ID, OUTTIME, LAST_CAREUNIT, LOS
                              FROM icustays icu
                              INNER JOIN patients pat
                              ON icu.SUBJECT_ID = pat.SUBJECT_ID
                              ORDER BY pat.SUBJECT_ID ASC
                              """, conn)

diagnoses_icd_feats = pd.read_sql("""SELECT diag.SUBJECT_ID, HADM_ID, ICD9_CODE
                                  FROM diagnoses_icd diag
                                  INNER JOIN patients pat
                                  ON diag.SUBJECT_ID = pat.SUBJECT_ID
                                  ORDER BY pat.SUBJECT_ID ASC
                                  """, conn)

# Left joined DRG codes because a lot of DRG severity/mortality data is missing
drgcodes_feats = pd.read_sql("""SELECT drg.SUBJECT_ID, HADM_ID, DRG_SEVERITY, DRG_MORTALITY 
                             FROM drgcodes drg
                             LEFT JOIN patients pat
                             ON drg.SUBJECT_ID = pat.SUBJECT_ID
                             ORDER BY pat.SUBJECT_ID ASC
                             """, conn)

In [9]:
# Further process information for admissions and ICU stays
# Calculate length of stay for each admission
admissions_feats= pd.read_sql("""SELECT adm.SUBJECT_ID, HADM_ID, ADMITTIME, DISCHTIME
                                 FROM admissions adm
                                 INNER JOIN patients pat
                                 ON adm.SUBJECT_ID = pat.SUBJECT_ID
                                 ORDER BY pat.SUBJECT_ID ASC
                                 """, conn)
# 'HOS_LOS' is length of stay in HOSPITAL, in seconds ('TimedeltaProperties' object only
# has days, seconds, microseconds as attributes)
admissions_feats['HOS_LOS'] = (admissions_info['DISCHTIME'] - admissions_info['ADMITTIME']).dt.seconds
# Only get information from FIRST admission
admissions_feats.sort_values('DISCHTIME')
admissions_feats = admissions_feats.drop_duplicates(subset='SUBJECT_ID', keep='first')
admissions_feats = admissions_feats[['SUBJECT_ID', 'HADM_ID', 'ADMITTIME', 'HOS_LOS']]

# Only get information from LAST ICU stay from an admission
multiple_icustays = pd.read_sql("""SELECT icu.SUBJECT_ID, HADM_ID, LAST_CAREUNIT, LOS
                                    FROM icustays icu
                                    INNER JOIN patients pat
                                    ON icu.SUBJECT_ID = pat.SUBJECT_ID
                                    GROUP BY HADM_ID
                                    HAVING COUNT(HADM_ID) > 1
                                    ORDER BY icu.SUBJECT_ID ASC
                                    """, conn)
print(multiple_icustays.shape)
multiple_icustays.head()

(3260, 4)

   SUBJECT_ID  HADM_ID LAST_CAREUNIT     LOS
0           7   118037          NICU  0.2677
1          41   101757          SICU  3.3937
2          68   170467          MICU  3.5368
3          91   121205          CSRU  0.4965
4         109   102024          MICU  2.1826

In [10]:
all_icustays[69:74]

    SUBJECT_ID  HADM_ID              OUTTIME LAST_CAREUNIT      LOS
69          67   155252  2157-12-02 05:56:38         TSICU   0.2148
70          68   170467  2173-12-19 15:51:16          MICU   3.5368
71          68   170467  2173-12-31 21:33:34          MICU     0.82
72          68   108329  2174-01-14 22:45:42          MICU   6.3983
73          69   190201  2129-04-09 13:41:23          NICU  18.9106

In [11]:
# For each patient, only keep the LAST ICU stay (if there was one)
all_icustays_sorted = all_icustays.sort_values('OUTTIME')
icustays_feats = all_icustays_sorted.drop_duplicates(subset=['HADM_ID'], keep='last')
icustays_feats = icustays_feats.sort_values('SUBJECT_ID')
icustays_feats[67:71]

    SUBJECT_ID  HADM_ID              OUTTIME LAST_CAREUNIT      LOS
68          67   186474  2155-02-27 15:45:00          SICU   1.7368
72          68   108329  2174-01-14 22:45:42          MICU   6.3983
71          68   170467  2173-12-31 21:33:34          MICU     0.82
73          69   190201  2129-04-09 13:41:23          NICU  18.9106

In [12]:
# Age
pat_adm_df = pd.read_sql("""SELECT pat.SUBJECT_ID, pat.DOB, adm.ADMITTIME
                            FROM patients pat
                            INNER JOIN admissions adm
                            ON pat.SUBJECT_ID = adm.SUBJECT_ID
                            ORDER BY pat.SUBJECT_ID ASC""", conn)

admissions_feats['age'] = (pd.to_datetime(pat_adm_df['ADMITTIME']) - pd.to_datetime(pat_adm_df['DOB'])).dt.days

In [13]:
print(admissions_info.shape)
admissions_info[3:17]

(58976, 4)

    SUBJECT_ID  HADM_ID           ADMITTIME           DISCHTIME
3            5   178980 2103-02-02 04:31:00 2103-02-04 12:15:00
4            6   107064 2175-05-30 07:15:00 2175-06-15 16:00:00
5            7   118037 2121-05-23 15:05:00 2121-05-27 11:57:00
6            8   159514 2117-11-20 10:22:00 2117-11-24 14:20:00
7            9   150750 2149-11-09 13:06:00 2149-11-14 10:15:00
8           10   184167 2103-06-28 11:36:00 2103-07-06 12:10:00
9           11   194540 2178-04-16 06:18:00 2178-05-11 19:00:00
10          12   112213 2104-08-07 10:15:00 2104-08-20 02:57:00
11          13   143045 2167-01-08 18:43:00 2167-01-15 15:15:00
12          16   103251 2178-02-03 06:35:00 2178-02-05 10:51:00
13          17   194023 2134-12-27 07:15:00 2134-12-31 16:05:00
14          17   161087 2135-05-09 14:11:00 2135-05-13 14:40:00
15          18   188822 2167-10-02 11:18:00 2167-10-04 16:15:00
16          19   109235 2108-08-05 16:25:00 2108-08-11 11:29:00

In [14]:
print(admissions_feats.shape[0])
admissions_feats[4:15]

46520

    SUBJECT_ID  HADM_ID            ADMITTIME  HOS_LOS    age
4            6   107064  2175-05-30 07:15:00    31500  24084
5            7   118037  2121-05-23 15:05:00    75120      0
6            8   159514  2117-11-20 10:22:00    14280      0
7            9   150750  2149-11-09 13:06:00    76140  15263
8           10   184167  2103-06-28 11:36:00     2040      0
9           11   194540  2178-04-16 06:18:00    45720  18316
10          12   112213  2104-08-07 10:15:00    60120  26433
11          13   143045  2167-01-08 18:43:00    73920  14560
12          16   103251  2178-02-03 06:35:00    15360      0
13          17   194023  2134-12-27 07:15:00    31800  17332
15          18   188822  2167-10-02 11:18:00    17820  18569

In [15]:
print(all_icustays.shape)
all_icustays[0:10]

(61532, 5)

   SUBJECT_ID  HADM_ID              OUTTIME LAST_CAREUNIT     LOS
0           2   163353  2138-07-17 23:32:21          NICU  0.0918
1           3   145834  2101-10-26 20:43:09          MICU  6.0646
2           4   185777  2191-03-17 16:46:31          MICU  1.6785
3           5   178980  2103-02-02 08:06:00          NICU  0.0844
4           6   107064  2175-06-03 13:39:54          SICU  3.6729
5           7   118037  2121-05-23 22:01:00          NICU  0.2677
6           7   118037  2121-05-25 21:10:19          NICU  0.7391
7           8   159514  2117-11-21 14:24:55          NICU  1.0755
8           9   150750  2149-11-14 20:52:14          MICU  5.3231
9          10   184167  2103-07-06 13:51:43          NICU  8.0921

In [16]:
print(diagnoses_icd_feats.shape)
diagnoses_icd_feats.head()

(651047, 3)

   SUBJECT_ID  HADM_ID ICD9_CODE
0           2   163353     V3001
1           2   163353      V053
2           2   163353      V290
3           3   145834      0389
4           3   145834     78559

In [17]:
print(drgcodes_feats.shape)
drgcodes_feats[15:25]

(125557, 4)

    SUBJECT_ID  HADM_ID DRG_SEVERITY DRG_MORTALITY
15          16   103251
16          17   194023            1             1
17          17   194023
18          17   161087
19          17   161087            3             3
20          18   188822
21          19   109235            3             3
22          19   109235
23          20   157681
24          21   111970

In [18]:
# Get one overall features matrix for ALL patients
features_for_all_mat = pd.merge(admissions_feats, icustays_feats[['HADM_ID', 'LAST_CAREUNIT', 'LOS']], how='left', on=['HADM_ID'])
print(features_for_all_mat.shape)

# Merge feature dataframe with the patient_cols dataframes so we only keep the features
# for the RELEVANT patients
features_mat = pd.merge(relevant_patients, features_for_all_mat, how='left', on=['SUBJECT_ID'])
print(features_mat.shape)
features_mat[4:20]

(46520, 7)
(43059, 7)

,SUBJECT_ID,HADM_ID,ADMITTIME,HOS_LOS,age,LAST_CAREUNIT,LOS
4,6,107064,2175-05-30 07:15:00,31500,24084,SICU,3.6729
5,7,118037,2121-05-23 15:05:00,75120,0,NICU,0.7391
6,8,159514,2117-11-20 10:22:00,14280,0,NICU,1.0755
7,10,184167,2103-06-28 11:36:00,2040,0,NICU,8.0921
8,11,194540,2178-04-16 06:18:00,45720,18316,SICU,1.5844
9,13,143045,2167-01-08 18:43:00,73920,14560,CSRU,3.666
10,16,103251,2178-02-03 06:35:00,15360,0,NICU,0.0979
11,17,194023,2134-12-27 07:15:00,31800,17332,CSRU,2.071
12,18,188822,2167-10-02 11:18:00,17820,18569,CCU,1.2885
13,19,109235,2108-08-05 16:25:00,68640,-103931,TSICU,1.3017
14,20,157681,2183-04-28 09:45:00,18000,27713,CSRU,1.0508
15,21,109451,2134-09-11 12:17:00,14280,31936,CCU,5.9017
16,21,109451,2134-09-11 12:17:00,14280,31936,CCU,5.9017
17,22,165315,2196-04-09 12:26:00,12480,23714,MICU,1.1438
18,23,152223,2153-09-03 07:15:00,42900,25980,CSRU,1.2641
19,24,161859,2139-06-06 16:14:00,74040,14250,CCU,0.5124

In [26]:
# !!! Need to generate truth labels for ONLY:
# - patients who survived their first admission
# - the last ICU stay, if there were multiple
# - the first admission, if there were multiple

# Generate additional columns:
# Append truth labels column (Was patient readmitted within 30 days?)
# Append 'ICU stay?' column
subj_adm = features_mat["SUBJECT_ID"].value_counts()
subj_adm = subj_adm.sort_index()

mult_adm_subj = subj_adm.index[subj_adm > 1]

# Instantiate to all zeros
truth = np.zeros((len(subj_adm)))

subj_adm_idx = list(subj_adm.index)

for subject in mult_adm_subj:
    temp_df = admissions_info[admissions_info["SUBJECT_ID"] == subject]
    # Get time between first discharge and second admission
    first_disc_time = temp_df["DISCHTIME"].iloc[0]
    second_adm_time = temp_df["ADMITTIME"].iloc[1]
    days_to_readm = (pd.to_datetime(second_adm_time) - pd.to_datetime(first_disc_time)).days
    
    # If readmitted within 30 days, set truth to 1
    if days_to_readm <= 30:
        truth[subj_adm_idx.index(subject)] = 1
        
truth_df = pd.DataFrame({'SUBJECT_ID': subj_adm_idx, 'READM': np.array(truth, dtype='int')})
print(truth_df.head())
print(truth_df.shape)

   SUBJECT_ID  READM
0           2      0
1           3      0
2           4      0
3           5      0
4           6      0
(42169, 2)

In [20]:
# Now we have the truth labels, delete the column ADMITTIME from the features_mat
features_mat = features_mat.drop('ADMITTIME', axis=1)

In [21]:
from sklearn.preprocessing import LabelEncoder, normalize
from sklearn import metrics
from sklearn.model_selection import train_test_split

design_mat = features_mat.merge(truth_df,how='inner',on="SUBJECT_ID")
X = design_mat.iloc[:,2:-1]

LCU = design_mat["LAST_CAREUNIT"]
le = LabelEncoder() # categorical encoder
LCU = le.fit_transform(LCU.astype(str))
X['LAST_CAREUNIT'] = LCU
X['LOS'] = pd.to_numeric(X['LOS']).fillna(0)

# normalize feature values
for i in list(X):
    X[i] = normalize(X[i][:].values.reshape(-1,1),axis=0)
    
# make train and test splits
X_train, X_test, y_train, y_test = train_test_split(X, design_mat.iloc[:,-1],test_size = 0.33, random_state = 0)

X

        HOS_LOS       age  LAST_CAREUNIT       LOS
0      0.006845  0.000000       0.005036  0.000038
1      0.006218  0.004660       0.003358  0.002508
2      0.006015  0.002913       0.003358  0.000694
3      0.002553  0.000000       0.005036  0.000035
4      0.002889  0.004015       0.006715  0.001519
5      0.006889  0.000000       0.005036  0.000306
6      0.001310  0.000000       0.005036  0.000445
7      0.000187  0.000000       0.005036  0.003347
8      0.004193  0.003053       0.006715  0.000655
9      0.006779  0.002427       0.001679  0.001516
10     0.001409  0.000000       0.005036  0.000040
11     0.002916  0.002889       0.001679  0.000857
12     0.001634  0.003096       0.000000  0.000533
13     0.006295 -0.017326       0.008394  0.000538
14     0.001651  0.004620       0.001679  0.000435
15     0.001310  0.005324       0.000000  0.002441
16     0.001310  0.005324       0.000000  0.002441
17     0.001145  0.003953       0.003358  0.000473
18     0.003934  0.004331       0.001679  0.000523
19     0.006790  0.002376       0.000000  0.000212
20     0.004232  0.003589       0.000000  0.001467
21     0.007836  0.004384       0.000000  0.000885
22     0.005442  0.000000       0.005036  0.000054
23     0.002889  0.004529       0.001679  0.000464
24     0.000110 -0.017326       0.000000  0.000764
25     0.001568  0.002771       0.008394  0.003179
26     0.004485  0.005017       0.003358  0.000643
27     0.007671 -0.017326       0.003358  0.000298
28     0.001403  0.004228       0.001679  0.002223
29     0.002229  0.004244       0.001679  0.000459
...         ...       ...            ...       ...
43029  0.007792  0.005352       0.001679  0.002167
43030  0.000022  0.004499       0.000000  0.000840
43031  0.005387  0.005392       0.000000  0.000878
43032  0.005860  0.003653       0.003358  0.001536
43033  0.004666  0.003261       0.003358  0.000666
43034  0.000556  0.004191       0.000000  0.002533
43035  0.000072  0.003051       0.006715  0.000430
43036  0.007126  0.005148       0.003358  0.004999
43037  0.007005  0.004329       0.001679  0.001310
43038  0.003307  0.004218       0.001679  0.000415
43039  0.006372  0.003312       0.003358  0.000310
43040  0.007225  0.001271       0.003358  0.000410
43041  0.003544  0.001093       0.008394  0.001468
43042  0.007858 -0.017326       0.006715  0.001579
43043  0.007368  0.003999       0.003358  0.000489
43044  0.005943  0.004922       0.001679  0.003011
43045  0.003626  0.001641       0.003358  0.001190
43046  0.006774  0.005205       0.000000  0.001677
43047  0.005178  0.003024       0.003358  0.000331
43048  0.005222  0.004144       0.003358  0.001186
43049  0.005442  0.004036       0.006715  0.000714
43050  0.005360  0.004718       0.000000  0.000705
43051  0.003698  0.003988       0.003358  0.001130
43052  0.000600  0.003967       0.001679  0.003288
43053  0.000633  0.004784       0.000000  0.000430
43054  0.004721  0.003276       0.003358  0.004673
43055  0.001238  0.002905       0.008394  0.001300
43056  0.007885  0.004005       0.003358  0.000817
43057  0.001733  0.005401       0.001679  0.000894
43058  0.003054  0.003896       0.006715  0.000465

[43059 rows x 4 columns]

In [25]:
print(design_mat.shape)
print(features_mat.shape)

(43059, 7)
(43059, 6)

### Classifiers

### Metrics for evaluating models

In [22]:
from sklearn import metrics
from sklearn.ensemble import RandomForestClassifier
clf = RandomForestClassifier(random_state=0)
clf=clf.fit(X_train,y_train)
y_pred = clf.predict(X_test)
fpr, tpr, thresholds = metrics.roc_curve(y_test, y_pred, pos_label=1)
AUC = metrics.auc(fpr, tpr)

/anaconda3/lib/python3.7/site-packages/sklearn/ensemble/forest.py:246: FutureWarning: The default value of n_estimators will change from 10 in version 0.20 to 100 in 0.22.
  "10 in version 0.20 to 100 in 0.22.", FutureWarning)

In [23]:
AUC

0.733074801737281